.header {
  height: auto;
}
.main {
  background-color: #fff;
}
.main .container {
  padding: 0;
}
.header-pc-wrap {
  display: none;
}
.header-mobile-wrap {
  text-align: center;
  padding-top: 75px;
  display: block;
  position: relative;
  background: #35322b;
  width: 100%;
  height: 100%;
}
.header-mobile-wrap img {
  width: 80px;
  border-radius: 50%;
}
.header-mobile-wrap p {
  font-size: 13px;
  margin-top: 10px;
  color: #bebebe;
}
.header-mobile-wrap p[class="mobile-author"] {
  font-size: 2em;
  color: #fff;
}
.mobile-tags {
  margin-top: 10px;
}
#pagination {
  padding-right: 4%;
}
.article-list {
  margin-left: 0;
  max-width: 100%;
  padding: 0;
}
.mobile-contact {
  margin-top: 10px;
  margin-bottom: 50px;
}
