<div id="menu-outer">
    <div id="navbar-brand">
        <span id="brand-logo"><%= config.author %></span>
    </div>
    <div id="menu-inner">
        <a href="<%= config.root %>"><%= _p('Home') %></a>
    </div>
</div>
